:root {
  --credit-text-color: rgb(255, 255, 255);
}

#quote-box {
  margin: auto;
  margin-top: 10vh;
  padding: 2rem;
  width: 50%;
  background-color: white;
  border-radius: 0.4rem;
}

#credits {
  color: var(--credit-text-color);
}

#credits > a {
  color: var(--credit-text-color);
}

.btn{
  color: white !important;
}